<div class="col-lg-10 col-lg-offset-1">
<section class="content-header">

  <!--  <button mat-button class="btn btn-primary" (click)="actualizarPantalla()" >
        Actualizar
    </button>    
    <button mat-button class="btn btn-primary" (click)="crearInstrumento()" >
        Nuevo Instrumento
    </button> -->
    <div class="custom-form">      
    <h1>Lista de Pokemons</h1>
    <br><br>

    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="aplicaFiltro($event)" placeholder="Escribe.." #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let element"><img src="{{element.image}}" alt="pokemon" width="100" height="100"></td>
                  </ng-container>
                <div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="openDialog(row)"*matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"></tr>
                </div>
                  <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                   <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>    
              <mat-paginator [length]="100" [pageSize]="5" aria-label="Select la página para buscar resultados"></mat-paginator>
      </div>   
    </div>
</section>
</div>